/**
 * Site header
 */
.site-header {
	padding-top: 40px;
	border-bottom: 1px solid $grey-color-light;
    // Positioning context for the mobile navigation icon
    position: relative;
	text-align: center;
	
	@include media-query($on-palm) {
		padding-top: 0;
		height: 56px;
	}
}

.site-title {

	font-family: 'Miss Fajardose', cursive;
	font-size: 46px;

 	@include media-query($on-palm) {
		float: left;
		font-size: 30px;
		line-height: 56px;
	}
}

.site-banner {
	padding-top: 10px;
	padding-bottom:80px; /* at leat the height of background image 34px */
	background-image: url('/images/border.png');
	background-repeat: repeat-x;
	background-position: bottom;
	background-height: 34px;
		
	@include media-query($on-palm) {
		display: none;
	}
}

.site-banner img {
	height: 100px;
	margin: 1px;
	border: none;
}

.site-nav {

	padding-top: 10px;
	
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

	div.left {
		float: left;
	}
	
	div.right {
		float: right;
	}

    @include media-query($on-palm) {
		float: right;
		padding-top: 0;
		line-height: 56px;
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
		
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }

		div.left {
			clear: both;
		}
		
		div.right {
			clear: both;
		}
    }
}



/**
 * Site footer
 */
.site-footer {
	text-align: left;
    border-top: 1px solid $grey-color-light;
    padding: 0.5em 0 1em 0;
}

/**
 * Page content
 */
.page-content {
	text-align: left;
    padding: 1em 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


.listing-separator {
  font-family: "Courier New",Courier,monospace;
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.listing-item span {
  color: #999;
}

.listing-item a {
  padding-left: 0.5em;
}

.cloud {
  font-family: "Courier New",Courier,monospace;
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.cloud a {
  margin-right:0.5em;
}

.page-nav {
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "Courier New",Courier,monospace;
}

.page-nav .current-page {
  color: red;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 28px;
	margin-top: $spacing-unit;
	margin-bottom: 0;

    @include media-query($on-laptop) {
        font-size: 24px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }

    h4 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

